/*!
 * https://github.com/arqex/react-datetime
 */


 /* .MuiFormControl-root{
   height: 0px;
   padding: 0px;
 }

 .MuiFilledInput-root{
    padding: 0px;
    height: 0px;
 } */

 .rdt {
    left: 0px;
    position: relative;
    border: none !important;
    /* margin: 0 0 -4px 6px !important; */
    /* border: red dotted !important; */
    /* height: 18px; */
    display: flex;
    justify-content: center;

    
  }

  .datepickerinput{
    /* height: 0px; */
    /* border: none !important;  */
    /* border: solid red 1px !important; */
    box-shadow: none !important;
    /* padding:12px 5px !important; */
    /* overflow: hidden; */
    position: relative;
    bottom: -70px;
    text-align: center;
   

    
  }

  .form-control{
      height: 0px;
      border: none !important; 
      box-shadow: none !important;
      
  }

  .form-control:focus{
    border: none; 
    box-shadow: none;
  }



  .rdtPicker {
    display: none;
    position: absolute;
    min-width: 50px;
    top: -47px;
    left: -15px;
    z-index: 99999 !important;
    box-shadow: none !important;
  }

  .rdtOpen .rdtPicker {
    display: block;
    /* height: 10px; */
    top: -10px;
    right: 0px;
  }

  .dateimeWrap  .rdtOpen .rdtPicker {
    display: block;
    /* height: 10px; */
    top: 0px;
    /* right: -160px; */
    /* left: -40px; */
  }

  .rdtStatic .rdtPicker {
    box-shadow: none;
    position: static;
  }
  
  .rdtPicker .rdtTimeToggle {
    text-align: center;
  }
  
  .rdtPicker table {
    width: 100%;
    margin: 0;
  }
  .rdtPicker td,
  .rdtPicker th {
    text-align: center;
    height: 28px;
  }
  .rdtPicker td {
    cursor: pointer;
  }
  .rdtPicker td.rdtDay:hover,
  .rdtPicker td.rdtHour:hover,
  .rdtPicker td.rdtMinute:hover,
  .rdtPicker td.rdtSecond:hover,
  .rdtPicker .rdtTimeToggle:hover {
    background: #eeeeee;
    cursor: pointer;
  }
  .rdtPicker td.rdtOld,
  .rdtPicker td.rdtNew {
    color: #999999;
  }
  .rdtPicker td.rdtToday {
    position: relative;
  }
  .rdtPicker td.rdtToday:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #428bca;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
  }
  .rdtPicker td.rdtActive,
  .rdtPicker td.rdtActive:hover {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  .rdtPicker td.rdtActive.rdtToday:before {
    border-bottom-color: #fff;
  }
  .rdtPicker td.rdtDisabled,
  .rdtPicker td.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }
  
  .rdtPicker td span.rdtOld {
    color: #999999;
  }
  .rdtPicker td span.rdtDisabled,
  .rdtPicker td span.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }
  .rdtPicker th {
    border-bottom: 1px solid #f9f9f9;
  }
  .rdtPicker .dow {
    width: 14.2857%;
    border-bottom: none;
    cursor: default;
  }
  .rdtPicker th.rdtSwitch {
    width: 100px;
  }
  .rdtPicker th.rdtNext,
  .rdtPicker th.rdtPrev {
    font-size: 21px;
    vertical-align: top;
  }
  
  .rdtPrev span,
  .rdtNext span {
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
  }
  
  .rdtPicker th.rdtDisabled,
  .rdtPicker th.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }
  .rdtPicker thead tr:first-of-type th {
    cursor: pointer;
  }
  .rdtPicker thead tr:first-of-type th:hover {
    background: #eeeeee;
  }
  
  .rdtPicker tfoot {
    border-top: 1px solid #f9f9f9;
  }
  
  .rdtPicker button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .rdtPicker button:hover {
    background-color: #eee;
  }
  
  .rdtPicker thead button {
    width: 100%;
    height: 100%;
  }
  
  td.rdtMonth,
  td.rdtYear {
    height: 50px;
    width: 25%;
    cursor: pointer;
  }
  td.rdtMonth:hover,
  td.rdtYear:hover {
    background: #eee;
  }
  
  .rdtCounters {
   
    display: inline-block;
    background: white;
    box-shadow: 3px 2px 4px rgb(185, 182, 189);
    z-index: 11;
  }
  
  .rdtCounters > div {
    float: left;
  }
  
  .rdtCounter {
    /* height: 50px;
    width: 30px; */
    padding: 4px 4px 1px;
  }
  
 
  
  .rdtCounterSeparator {
    /* line-height: 70px; */
  }
  
  .rdtCounter .rdtBtn {
    /* border: rgb(66, 180, 32) 1px solid; */
    /* height: 27%; */
    line-height: 1em;
    cursor: pointer;
    display: block;
  
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
  }
  .rdtCounter .rdtBtn:hover {
    background: #eee;
  }
  .rdtCounter .rdtCount {
    position: relative;
    top: 2px;
    height: 20%;
    font-size: 1em;
    margin-bottom: 7px;
    line-height: 1.1em;
  }
  
  .rdtMilli {
    vertical-align: middle;
    padding-left: 8px;
    width: 48px;
  }
  
  .rdtMilli input {
    width: 100%;
    font-size: 1.2em;
    margin-top: 37px;
  }
  
  .rdtTime td {
    cursor: default;
    position: relative;
    
    padding: 0px 0px;
    width: 9px !important;
    box-shadow: none !important;
    /* border: none !important;  */
    
  }
  